@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Comic Neue', cursive; 
    background-image: url();
    background-color: rgb(247, 229, 242);
    padding: 0;
    margin:0;
    /* background-image: url("../images/pexels-oleg-magni-2033997.jpg"); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover cover;
    background-position: center;
    background-repeat: no-repeat;
}


h1 {
    text-align: center;
    font-size: 60px;
    background-color: inherit;
    padding: 15px;
}

h1:hover {
    cursor: pointer;
}

.headerImage {
    width: 45px;
    height: 40px;
}

#columnOne {
    width: 100%;
    /* padding: 20px 2.5% 20px 2.5%; */
}

#columnOne h4 {
    font-size: 35px;
    background-color: white;
    text-align: center;
}

#productImages {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px 0;
} 

#productImages img {
    width: 30%;
}

#productImages img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.whiteSection {
    background-color: white;
    float: left;
    width: 65%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    border: solid;
    border-radius: 20px;
    position: relative;
}

.whiteSection p{
    display: inline-block;
    width: 50%;
    
}

.whiteSection img{
   
}

#columnThree {
    
    width: 28%;
    background-color: white;
    margin-top: 20px;
    margin-right: 1%;
    border-radius: 20px;
    box-shadow: -5px -5px;    
}

#columnThree h3 {
    font-size: 35px;
    padding: 20px;
}

#columnThree p {
    font-size: 25px;
    padding: 10px 20px;
}

#columnThree p span{
    text-align: right;
    padding-left: 100px;    
}

#columnTwo {
    justify-content: space-evenly;
    width: 100%;
    color: white;
    background-color:rgb(228, 150, 208);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 1%;
    border-radius: 20px;
}

#columnTwo h2 {
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    width: 100%;
}

#columnTwo ul {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#columnTwo li {
    padding-top: 20px;
    padding-bottom:20px;
    padding: 20px;
    text-align: center;
}

#columnTwo li iframe {
    width: 100%;
    height: 300px;
}

#columnTwo li iframe:hover {
    opacity: 0.75;
}

nav {
    background-color: rgb(241, 92, 204);
    display: flex;
    justify-content: center;
    height: 70px;
    
}

nav ul {
    list-style-type: none;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

nav ul li {
    display: inline-block;
    padding-top:20px;
    width: 33%;
    text-align: center;
    font-size: 35px;
    position: relative;
}
 
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    text-align: center;
    
}

nav ul li a:hover {
    color: black;
    font-size: 50px;
    
}

main {
    margin-right: 10%;
    margin-left: 10%;
    background-color: white;
}




/* for the sales page: */



form {
    border: solid;
    border-radius: 20px;
    width: 35%;
    margin-top:20px;
    padding-bottom: 60px;
    /* position: relative; */
    display: flex;
    justify-content: space-evenly;
}

form legend {
    text-align: center;
    padding: 10px 0;
    font-size: 40px;
}

form label {
    padding: 10px;
}

form #submitButton {
    background-color: rgb(207, 98, 180);
        border: none;
        color: #fff;
        padding: 15px 30px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer; 
        border-radius: 50px;
        position: absolute;
        left: right;
        font-size: 20px;
}

form #submitButton:hover {
    color:black;
}

#SalesBody {
    background-color: rgb(247, 229, 242);
}

#SalesMain {
    background-color: rgb(247, 229, 242);
}

table {
  
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: black;
    border: solid;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 50px;
    width: 70%;
    background-color: white;
}

table tr td {
    border: solid;
    width: 30px;
    text-align: center; 
}

table tr td:hover {
    font-weight: bold;
    color:darkgrey;
}

table tr th {
    width: 30px;
}

table tr th:hover {
    font-weight: bold;
}

table thead, table tfoot {
    background-color: rgb(228, 150, 208);
}

#second {
    display: flex;
    justify-content: center;
    margin: 20px 0 ;
}



